<div class="grid grid-middle margin-bottom">
  <div class="grid-item 1/2">
    <%= f.text_field :latitude, class: "1/1 js-paste-coordinates"  %>
    <small class="text-muted">Latitude</small>
  </div>
  <div class="grid-item 1/2">
    <%= f.text_field :longitude, class: "1/1" %>
    <small class="text-muted">Longitude</small>
  </div>
</div>
