<div class="grid">
  <div class="grid-item 1/3">
    <h4 class="no-margin-top">New point</h4>
    <%= render "form" %>
  </div>
  <div class="grid-item 2/3">
    <%= render "points/index/map" %>

    <ul class="list-divided text-muted text-right margin-half-top">
      <li>Total number of points: <%= @points.count %></li>
      <li>Words count: ~<%= @points.words_count %></li>
    </ul>
  </div>
</div>
