<table class="table-hover">
  <thead>
    <tr>
      <th><%= @category %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%- @category.points.sort_by(&:title).each do |point| %>
      <tr>
        <td><%= link_to point, edit_point_path(point) %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td class="padding-top">
        <%= link_to "< Back", categories_path %>
      </td>
    </tr>
  <tfoot>
</table>
